/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
@font-face {
	font-family: Calistoga;
	src: url("../fonts/Alkes-Bold.ttf") format("opentype");
}
@font-face {
	font-family: Marvin;
	src: url("../fonts/Marvin.otf") format("opentype");
}
/*--------------------*/
.main {
	height: 100vh;
	width: 100%;
	background: url('/img/profile/bg.jpg') no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.header {
	width: 100%;
	height: 12%;
	max-height: 140px;
	min-height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.panel {
	width: 100%;
	height: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url('/img/islands/header.jpg') no-repeat;
	background-size: 100% 100%;
}
.panel_nick {
	position: relative;
	left: 50px;
	font-family: Calistoga;
	color: #fff;
	font-size: 200%;
}
.panel_exit {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 50px;	
	height: 80%;
	min-width: 110px;
	min-height: 28px;
	font-family: Calistoga;
	color: #fff;
	font-size: 150%;
	cursor: pointer;
	background: url('/img/islands/button_exit.png') no-repeat;
	background-size: 100% 100%;
}
.panel_exit:hover {
	transform: scale(1.02, 1.02);
}
.silver {
	height: 20%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 25px;
}
.silver-img {
	height: 100%;
	min-width: 20px;
	background: url('/img/islands/coin_silver.png') no-repeat;
	background-position: center center;
	background-size: contain;
}
.silver-text {
	margin-left: 6px;
	font-family: Calistoga;
	color: #fff;
	font-size: 180%;
}
.gold {
	height: 20%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 25px;
}
.gold-img {
	height: 100%;
	min-width: 20px;
	background: url('/img/islands/coin_gold.png') no-repeat;
	background-position: center center;
	background-size: contain;
}
.gold-text {
	margin-left: 6px;
	font-family: Calistoga;
	color: #fff;
	font-size: 180%;
}
.profile_main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 80%;
	width: 60%;
}
.profile_buttons {
	width: 100%;
	height: 6%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.profile_button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 0 3%;
	height: 100%;
	min-width: 110px;
	min-height: 28px;
	background: url('/img/battle/button.png') no-repeat;
	background-size: 100% 100%;
	font-family: Marvin;
	color: #fff;
	font-size: 190%;
	cursor: pointer;
}
.profile_button:hover {
	transform: scale(1.02, 1.02);
}
.profile_button2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 0 3%;
	height: 100%;
	min-width: 110px;
	min-height: 28px;
	background: url('/img/battle/button3.png') no-repeat;
	background-size: 100% 100%;
	font-family: Marvin;
	color: #fff;
	font-size: 190%;
	cursor: default;
	margin-left: 50%;
	transform:translateX(-50%);
}
.profile_block {
	height: 94%;
	width: 100%;
	background: url('/img/profile/board.jpg') no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.table_buttons {
	width: 90%;
	height: 5%;
	margin-top: 5%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.table_button {
	width: 15%;
	height: 80%;
	font-family: Calistoga;
	color:#362e1f;
	font-size: 150%;
	background-color: #ffd291;
	border: 1px solid #70523e;
	cursor: pointer;
}
.table_button_active {
	height: 100%;
	color:#fff;
	background-color: #971d08;
}
.table_profile {
	overflow: auto;
	height: 78%;
	width: 90%;
	border: 3px solid #70523e;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.table_profile::-webkit-scrollbar {
	background-color: #7a5441;
	border: 1px solid #362e1f;
	border-radius: 6px;
	width: 12px;
}
.table_profile::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #ffd291;
}
.table_ref {
	width: 100%;
	height: 6%;
	margin-top: 2%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	font-family: Calistoga;
	color: #362e1f;
	font-size: 160%;
}
.tr_profile {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-family: Calistoga;
	color: #362e1f;
	font-size: 140%;
}
.tr_profile:last-child {
	border-bottom: 3px solid #70523e;
}
.td_profile {
	width: 33.333%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding: 0.5% 0;
}
.change_form {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.change_text {
	width: 5%;
    min-width: 180px;
    height: 5%;
    margin: 0 10px;
	background-color: #5c4023;
	border: 2px solid #c6ae99;
	padding: 3px 8px;
    color: #fff;
    font-family: Calistoga;
    font-size: 90%;
}
.change_input {
	min-width: 130px;
    min-height: 35px;
    font-family: Marvin;
    color: #fff;
    font-size: 80%;
    background: url(/img/battle/button4.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.swap_none {
	text-align: center;
	font-family: Calistoga;
	color: #fff;
	font-size: 200%;
	margin: 1% 0 2% 0;
}
@media(max-width: 950px) {
	.table_button {
		width: 20%;
	}
	.table_buttons {
		margin-top: 10%;
	}
	.profile_main {
		width: 80%;
	}
	.table_ref {
		font-size: 100%;
	}
}
@media(max-height: 850px) {
	.table_ref {
		font-size: 120%;
	}
}
@media(max-width: 600px) {
	.panel_exit {
		margin-right: 10px;
	}
	.table_buttons {
		margin-top: 12%;
	}
	.profile_main {
		height: 79%;
		width: 95%;
		margin-top: 5%;
	}
	.profile_buttons {
		height: 5%;
	}
	.profile_button {
		font-size: 110%;
	}
	.profile_button2 {
		font-size: 110%;
		margin-left: 0;
		transform: translateX(0);
	}
	.table_button {
		width: 28%;
		font-size: 110%;
	}
	.table_ref {
		font-size: 80%;
	}
	.change_text {
		min-width: 110px;
		font-size: 65%;
	}
	.change_input {
		min-width: 80px;
		font-size: 90%;
	}
}
@media(max-width: 400px) {
	.tr_profile {
		font-size: 120%;
	}
	.table_ref {
		font-size: 70%;
	}
}
@media(max-height: 450px) {
	.profile_main {
		height: 79%;
		width: 60%;
	}
	.profile_buttons {
		height: 9%;
	}
	.profile_button {
		font-size: 120%;
	}
	.profile_button2 {
		font-size: 120%;
		margin-left: 0;
		transform: translateX(0);
	}
	.table_buttons {
		height: 10%;
		margin-top: 4%;
	}
	.table_button {
		font-size: 120%;
	}
	.tr_profile {
		font-size: 120%;
	}
	.table_ref {
		font-size: 80%;
		margin-bottom: 1%;
	}
}